OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini

AZDO_ORG=MashreqCorpTech
AZDO_PROJECT=Titan
AZDO_BRANCH=refs/heads/master
AZDO_PAT=

DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=deploydb
DB_USER=deployuser
DB_PASSWORD=deploypass

CODE_PULL_PIPELINE_NAME=code-pull-pipeline
CODE_PULL_PIPELINE_ID=1409

# These must match your Azure DevOps code-pull pipeline YAML parameter names.
# Example if pipeline has parameters: APPLICATION, BRANCH_NAME, ENVIRONMENT
CODE_PULL_PARAM_APPLICATION=APPLICATION
CODE_PULL_PARAM_BRANCH=BRANCH_NAME
CODE_PULL_PARAM_ENVIRONMENT=ENVIRONMENT
CODE_PULL_PARAM_RELEASE_VERSION=
CODE_PULL_PARAM_COMMIT_ID=
CODE_PULL_PARAM_CHANGE_TYPE=
